# ZMK
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

# Custom
#include "layers/default.keymap"
#include "layers/lower.keymap"
#include "layers/raise.keymap"
#include "layers/bluetooth.keymap"

#define BASE 0
#define LOWER 1
#define RAISE 2
#define BLUETOOTH 3

/ {
  keymap {
    compatible = "zmk,keymap";
    Base_layer = Base_layer; 
    Lower_layer = Lower_layer; 
    Raise_layer = Raise_layer;
    Bluetooth_layer = Bluetooth_layer;
  };
};
